#Git
Uncertainty/git/

#Private repo
Uncertainty/levels/*
!Uncertainty/levels/free/

Uncertainty/materials/*
!Uncertainty/materials/free/

Uncertainty/models/*
!Uncertainty/models/free/

Uncertainty/prefabs/*
!Uncertainty/prefabs/free/

Uncertainty/textures/*
!Uncertainty/textures/free/

# System/tool-specific ignores
.directory
.DS_Store
*~
*.blend1
*.sh